@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - File Manager</h1>

    <p>This section allows us to load, edit and delete all our files</p>

</div>
